/*colores*/
/*Fuente*/
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box; }

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto;
  min-height: 100vh;
  font-family: "Raleway", sans-serif;
  background-color: #ccc;
  margin: 0% auto;
  width: 100%; }

main {
  grid-row: 2; }

.titulo {
  text-align: center;
  margin: 40px 0px 30px 0px; }

h3 {
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: center; }

.header {
  grid-row: 1;
  background-color: #202020;
  height: 130px;
  border-bottom: 6px solid #7e7e7e; }
  .header__menu {
    float: right;
    margin: 60px 110px; }
  .header__link {
    display: inline;
    color: white;
    text-align: left;
    padding: 14px 0px;
    text-decoration: none; }
    .header__link a {
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none; }
      .header__link a:active {
        background-color: #616161; }
      .header__link a:hover {
        background-color: #e48585;
        border-radius: 8%; }

#logoCabezal {
  width: 250px;
  margin: 20px 110px;
  transition: 0.5s all ease-in-out; }
  #logoCabezal:hover {
    transform: scale(1.1); }

.footer {
  grid-row: 3;
  background-color: #363836;
  color: #e48585;
  padding: 10px;
  margin-top: 50px; }
  .footer__media {
    text-align: center;
    padding: 10px; }
    .footer__media--img {
      width: 70px;
      height: 70px;
      padding: 0px 10px 20px 10px; }
  .footer__copyright {
    background-color: #202020;
    text-align: center;
    padding: 10px 0px;
    margin: 0 -10px -10px -10px; }

.tituloRedes {
  padding: 10px; }

/*Seccion Noticias*/
.noticias {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  text-align: center; }
  .noticias__rectangulo {
    width: 300px;
    margin: 30px;
    background-color: #fce9e96b;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.466); }

.pNoticia {
  margin: 25px;
  padding-bottom: 25px; }

.slider {
  width: 100%;
  height: 400px;
  overflow: hidden; }

.slider ul {
  display: flex;
  animation: cambio 18s infinite alternate linear;
  width: 400%; }

.slider li {
  width: 100%;
  list-style: none; }

.slider img {
  position: relative;
  width: 100%;
  height: 400px; }

@keyframes cambio {
  0% {
    margin-left: 0; }
  20% {
    margin-left: 0; }
  25% {
    margin-left: -100%; }
  45% {
    margin-left: -100%; }
  50% {
    margin-left: -200%; }
  70% {
    margin-left: -200%; }
  75% {
    margin-left: -300%; }
  100% {
    margin-left: -300%; } }

.bandas {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  text-align: center; }
  .bandas__rectangulo {
    width: 300px;
    margin: 20px;
    background-color: #fce9e96b;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.466);
    border-radius: 10px; }

.bandaImagen {
  padding-top: 25px; }

.pBandas {
  margin: 25px;
  padding-bottom: 25px; }

a {
  text-decoration: none;
  color: black; }

#cardBandas {
  width: 300px;
  transition: 0.5s all ease-in-out; }
  #cardBandas:hover {
    transform: scale(1.05); }

.textoNosotros {
  margin-left: 300px;
  margin-right: 300px;
  text-align: center; }

.textoContacto {
  margin: 10px;
  text-align: center; }

/* formulario */
form {
  margin: 0 auto;
  width: 500px;
  background-color: rgba(255, 255, 255, 0.651);
  padding: 5px;
  border-radius: 10px; }

input, textarea {
  padding: 5px;
  margin: 10px;
  width: 90%; }

label {
  display: block;
  padding: 5px; }

ul {
  list-style: none; }

.btn {
  margin: 10px; }

button {
  background-color: grey;
  color: white;
  font-family: "Raleway", sans-serif;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  padding: 5px;
  cursor: pointer; }

.lanzamientos {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 30px;
  gap: 20px; }

.flip-container {
  background-color: transparent;
  margin: 20px;
  width: 300px;
  height: 300px;
  perspective: 1000px; }

.card {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1.5s;
  transform-style: preserve-3d; }

.flip-container:hover .card {
  transform: rotateY(180deg); }

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem; }

.back {
  transform: rotateY(180deg); }

/*--Responsive --*/
@media screen and (max-width: 900px) {
  .header {
    height: 90px; }
    .header__menu {
      float: right;
      margin: 35px; }
  #logoCabezal {
    width: 20%;
    margin: -60px;
    margin-left: 120px; }
  .slider {
    height: 300px; }
  .slider img {
    height: 300px;
    width: 100%; }
  .textoNosotros {
    margin-left: 100px;
    margin-right: 100px; } }

@media screen and (max-width: 768px) {
  .header {
    height: 90px; }
    .header__menu {
      font-size: 14px; }
  #logoCabezal {
    width: 23%;
    margin: -55px;
    margin-left: 60px; }
  .slider {
    height: 250px; }
  .slider img {
    height: 250px;
    width: 100%; } }

@media screen and (max-width: 480px) {
  #logoCabezal {
    width: 30%;
    margin: 15px;
    margin-left: 160px; }
  .header {
    height: 135px; }
    .header .header__link {
      display: inline-block;
      text-align: center;
      padding: 0px; }
    .header .header__menu {
      margin: 10px 30px -40px -120px;
      text-align: center;
      font-size: 12px; }
  .slider {
    height: 150px; }
  .slider img {
    height: 150px;
    width: 100%; } }

@media screen and (max-width: 375px) {
  .header {
    height: 135px; }
    .header .header__link {
      display: inline-block;
      text-align: center; }
    .header .header__menu {
      font-size: 10px;
      margin: 6px; }
  .slider {
    height: 130px; }
  .slider img {
    height: 130px;
    width: 100%; }
  .footer__media--img {
    display: inline-flex;
    margin: 0% auto; }
  .footer__copyright {
    font-size: 12px; }
  .noticias {
    display: grid; }
  .noticias__rectangulo {
    font-size: 14px;
    width: 300px; }
  #logoCabezal {
    width: 40%;
    margin: 12px 115px; }
  .bandas {
    display: grid; }
  .form {
    width: 90%; }
  .textoNosotros {
    margin-left: 70px;
    margin-right: 70px;
    padding-bottom: 80px;
    text-align: center; } }
