.bandas {
    @include contenido;

    &__rectangulo {
        width: 300px;
        margin: 20px;
        background-color: #fce9e96b;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.466);
        border-radius: 10px; 
    }
}    
.bandaImagen {
    padding-top: 25px;
}

.pBandas {
    margin: 25px;
    padding-bottom: 25px
}

a{
    text-decoration: none;
    color: black;
}

#cardBandas {
    width: 300px;
    transition: 0.5s all ease-in-out;
    &:hover {
        transform: scale(1.05);
    }
}