.bandas {
    @include contenido;

    &__rectangulo {
        width: 300px;
        margin: 30px;
        background-color: #fce9e96b;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.466);
        border-radius: 10px; 
    }
}    
.bandaImagen {
    padding-top: 25px;
}
