/*Seccion Noticias*/

.imagenNoticias {
    position:relative;
    text-align: center;
    background-color: black;
}

.imagenFondo {
    opacity: 50%;
}

.textoEncima {
    position:absolute;
    top: 10px;
    left: 10px;
    text-align: left;
    width: 550px;
    margin: 20px 20px 20px 100px;
    color: white;
}

.noticias {
    @include contenido;

    &__rectangulo {
        width: 300px;
        margin: 30px;
        background-color: #fce9e96b;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.466);
        
    }
}


