/*colores*/
$colorUno:#ccc;
$colorDos: #202020;
$colorTres: #363836;
$colorCuatro: #e48585;

/*Fuente*/
$fuentePrinicipal: "Raleway", sans-serif;

%header {
    grid-row: 1;
    background-color: $colorDos; 
    height: 110px;
    padding: 30px 0 30px 120px;
    border-bottom: 6px solid rgb(126, 126, 126);
}